a{
	margin: 12px;
	background-color: papayawhip ;
	color: indigo;
	border: 1px;
	border-color: midnightblue;
	border-radius: 4px;
	text-decoration: none;
}
link{
	margin: 12px;
	background-color: papayawhip ;
	color: indigo;
	border: 1px;
	border-color: midnightblue;
	border-radius: 4px;
	text-decoration: none;
}